.order-status-container {
    padding: 20px;
    background-color: #fff;
  }
  
  .order-details {
    text-align: center;
  }
  
  button {
    background-color: tomato;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
  }
  