.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: tomato;
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  
  input {
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    width: 250px;
  }
  
  button {
    background-color: white;
    color: tomato;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .register-btn {
    margin-top: 10px;
    background: none;
    border: none;
    color: white;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .register-btn:hover {
    color: #ffd1c1;
  }
  